---
import '../style/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Site</title>
  </head>
  <body>
   <a href="/about">About</a>
   <a href="/blog">Blog</a>
   <h1>My Name Is Sadman Sakib</h1>
  </body>
</html>